<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>Read QR codes and scan documents</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false />
    <key>com.apple.application-identifier</key>
    <string>93C29USLP6.de.fragdenstaat.scanner</string>
    <key>com.apple.developer.team-identifier</key>
    <string>93C29USLP6</string>
    <key>CFBundleDisplayName</key>
    <string>FDS Scanner</string>
  </dict>
</plist>